FARADAY_TEAM_ID =
FARADAY_BUNDLE_PREFIX =

#include? "Local.xcconfig"

FARADAY_APP_ID = $(FARADAY_BUNDLE_PREFIX).Faraday
FARADAY_FILTER_ID = $(FARADAY_APP_ID).Filter
FARADAY_CLI_ID = $(FARADAY_APP_ID).cli
FARADAY_APP_GROUP = $(FARADAY_TEAM_ID).$(FARADAY_APP_ID)
FARADAY_MACH_SERVICE = $(FARADAY_APP_GROUP).control

DEVELOPMENT_TEAM = $(FARADAY_TEAM_ID)
